<launch>
  <arg name="drone_id"/>
  <arg name="origin_lat"/>
  <arg name="origin_lon"/>
  <arg name="origin_alt"/>
  <arg name="init_x"/>
  <arg name="init_y"/>
  <arg name="init_z"/>
  
  <!-- odom to gps imu launch -->
  <node pkg="co_navi_pkg" type="imu_gps_publisher.py" name="odom_to_gps_imu_improved_$(arg drone_id)">
    <param name="drone_id" value="$(arg drone_id)"/>
    <param name="origin_lat" value="$(arg origin_lat)"/>
    <param name="origin_lon" value="$(arg origin_lon)"/>
    <param name="origin_alt" value="$(arg origin_alt)"/>

    <param name="init_x" value="$(arg init_x)"/>
    <param name="init_y" value="$(arg init_y)"/>
    <param name="init_z" value="$(arg init_z)"/>

  </node>

</launch>