<launch>    
    <!-- 定义参数，从配置文件读取 -->
    <include file="$(find co_navi_pkg)/launch/low_speed/single_drone.launch">
        <arg name="drone_id"    value="0"/>
        <arg name="init_x"      value="-20.0"/>
        <arg name="init_y"      value="0.0"/>
        <arg name="init_z"      value="1.2"/>
        <arg name="target_x"    value="20.0"/>
        <arg name="target_y"    value="0.0"/>
        <arg name="target_z"    value="1.0"/>
    </include>

    <include file="$(find co_navi_pkg)/launch/low_speed/single_drone.launch">
        <arg name="drone_id"    value="1"/>
        <arg name="init_x"      value="-21.0"/>
        <arg name="init_y"      value="-8.0"/>
        <arg name="init_z"      value="1.3"/>
        <arg name="target_x"    value="21.0"/>
        <arg name="target_y"    value="8.0"/>
        <arg name="target_z"    value="1.0"/>
    </include>

    <include file="$(find co_navi_pkg)/launch/low_speed/single_drone.launch">
        <arg name="drone_id"    value="2"/>
        <arg name="init_x"      value="-21.0"/>
        <arg name="init_y"      value="8.0"/>
        <arg name="init_z"      value="1.0"/>
        <arg name="target_x"    value="21.0"/>
        <arg name="target_y"    value="-8.0"/>
        <arg name="target_z"    value="1.0"/>
    </include>

    <include file="$(find co_navi_pkg)/launch/low_speed/single_drone.launch">
        <arg name="drone_id"    value="3"/>
        <arg name="init_x"      value="-17.0"/>
        <arg name="init_y"      value="-10.0"/>
        <arg name="init_z"      value="1.1"/>
        <arg name="target_x"    value="17.0"/>
        <arg name="target_y"    value="10.0"/>
        <arg name="target_z"    value="1.0"/>
    </include>


    <include file="$(find co_navi_pkg)/launch/low_speed/single_drone.launch">
        <arg name="drone_id"    value="4"/>
        <arg name="init_x"      value="-17.0"/>
        <arg name="init_y"      value="10.0"/>
        <arg name="init_z"      value="1.4"/>
        <arg name="target_x"    value="17.0"/>
        <arg name="target_y"    value="-10.0"/>
        <arg name="target_z"    value="1.0"/>
    </include>


</launch>